<% @todo_lists.each do |todo_list| %>

<%= link_to(todo_list, class: "index_row") do%>
    <h3 class="todo_list_title"><%= todo_list.title %></h3>
    <p class="todo_list_subtitle"><%= todo_list.description %></p>
  <% end %>
<% end %>

<div class="links">
  <%= link_to "New Todo List", new_todo_list_path %>
</div>
